<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Answer The Following Questions
  </h1>
  <div class="container">
    <div class="questions-container" *ngIf="questions && !isSubmitView">
      <h3 class="question-title"> {{ questions[questionIndex]?.question }} </h3>

      <div class="answers-list">
        <div *ngFor="let answer of questions[questionIndex]?.answers">
          <label class="answer-container" (click)="checkQues(questionIndex, answer)">
            <span class="checkmark">
              <span [ngClass]="{'selected-radio': questions[questionIndex]?.selected == answer}"> </span>
            </span>
            {{answer}}
          </label>
        </div>
      </div>

      <div class="button-container">
        <div class="back-btton btn red" (click)="decrement()" *ngIf="questionIndex !== 0"> Back </div>
        <div class="next-btton btn blue" (click)="increment()" *ngIf="questionIndex !== 9"> Next </div>
        <div class="next-btton btn green" (click)="submitAnswers()" *ngIf="questionIndex == 9"> Submit </div>
      </div>
      <div class="not-answered" *ngIf="isAllAnswered == false">
        Please Answer All The Questions!
      </div>
    </div>
    <div *ngIf="isSubmitView" class="submit-view">
      You Scored {{score}}%
      <div class="back-btton btn blue" (click)="retryQuiz()" *ngIf="questionIndex !== 0"> Retry the Quiz! </div>

    </div>
  </div>
</div>
