/* Customize the label (the container) */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .submit-view {
    display: flex;
    flex-direction: column;
  }
  .questions-container {
    width: 500px;
    .answers-list {
      .answer-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        display: flex;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 22px;
          width: 22px;
          background-color: #eee;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-self: center;
          align-items: center;
           :hover {
            background-color: #ccc;
          }
          &:after {
            content: "";
            position: absolute;
            display: none;
          }
          .selected-radio {
            background-color: #2788ae;;
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }
        }
      }
    }
    .button-container {
      display: flex;
      justify-content: space-around;
    }
  }
  .not-answered{
    padding-top: 10px;
    color: #e74c3c;    
  }
}

.btn {
  position: relative;
  display: block; // margin: 30px auto;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  padding: 12px 24px;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;
}

.btn.red {
  background-color: #e74c3c;
  &:hover {
    background-color: #c0392b;
  }
}

.btn.green {
  background-color: #2ecc71;
  &:hover {
    background-color: #27ae60;
  }
}

.btn.blue {
  background-color: #2788ae;
  &:hover {
    background-color: rgb(20, 106, 138);
  }
}
